h1 {
    color:aliceblue;
    background-color: rgb(19, 130, 221);
    text-align: center;
}
p {
    color: lightgoldenrodyellow;
    background-color: brown;
}
#bungaa{
    color: black;
    background-color: cornflowerblue;
}

.warnasatu {
    color:bisque;
    background-color: rgb(36, 135, 148);

}
.warnadua {
    color: brown;
    background-color: rgb(71, 253, 192);
}
.warnatiga {
    color :black;
    background-color: rgb(68, 68, 236);
}
#kotak-satu{
    height: 100px;
    width: 100px;
    background-color: rgb(245, 114, 114);
    margin-bottom: 10px;
}
#kotak-dua{
    height: 100px; ;
    width: 400PX;
    background-color:rgb(10, 239, 255);
    margin-bottom: 10px;
}
#kotak-tiga{
    height: 100px; ;
    width: 100px; ;
    background-color:rgb(24, 206, 79) ;
    border-radius: 50%;
}

#buatbg{
    width : 500px;
    height: 200px;
    background-color:rgb(0, 195, 255);
    color :rgb(17, 1, 1);
    background-image: url("../css/images/gambar1.jpg");
    background-size: cover;
    border-radius: 10%;
}
#buatbg h2{
    text-align: center;
    padding-top:80px;
}

#buatpattern{
    width : 500px;
    height: 200px;
    background-color:rgb(0, 195, 255);
    color :rgb(17, 1, 1);
    background-image: url("../css/images/gambarpet1.jpg");
    border-radius: 20px;
    background-repeat: repeat-x;
}
#buatpattern h2{
    text-align: center;
    padding-top:80px;
}